body{
  margin:0;
}
.flexiable-container{
  display:flex;
}
.top-banner{
  padding-top:30px;
  background-image:url(images/top-banner.png);
  background-repeat:no-repeat;
}
.half-width{
  padding-left:60px;
}
.half-width img{
  padding-right:60px;
}
.dream-big{
  background-image:url(images/dream-bg.png);
  background-repeat:no-repeat;
  background-position:right;
}
#half-width img{
  padding-left:60px;
}
#half-width{
  padding-right:60px;
}
a{
  font-size:18px;
  text-decoration:none;
  color:black;
  background-color:lightgreen;
  border:7px solid lightgreen;
}
a:hover{
  font-size:18px;
  text-decoration:none;
  color:black;
  background-color: orange;
  border:7px solid orange;
}
.experiences-area{
 
}
.experiences-item{
  width:50%;
  box-shadow:10px 10px 40px grey;
  margin-left:5%;
  margin-right:5%;
  padding-left:20px;
  padding-right:20px;
  margin-top:50px;
  margin-bottom:30px;
}
.green-color{
  color:rgb(34, 158, 34);
}
.orange-color{
  color:orange;
}
.Full-Stack-Web-Developer{
  border-left:solid 7px orange;
  border-radius:10px;
}
.Juniour-Web-Developer{
  border-left:solid 7px rgb(34, 158, 34);
  border-radius:10px;
}
p{
  font-size:18px;
  text-align:justify;
}
span{
  color:rgb(34, 158, 34);
}
span:hover{
  color:orange;
}
footer{
  text-align:center;
}
footer:hover{
color: orange;
}